version: '3'
services:
  app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    environment:
      - NODE_OPTIONS=--openssl-legacy-provider
    command: tail -f /dev/null

  react:
    image: node:20-alpine
    working_dir: /app/react
    volumes:
      - ./:/app
    ports:
      - "8081:8081"
    command: npm run dev
